<h3 class="text-center">Julho de 2018</h3>

<table class="table table-striped">
  <tr>
    <th>Dia</th>
    <th>Ganhos</th>
    <th>Gastos</th>
    <th>Descrição Ganhos</th>
    <th>Descrição Gastos</th>
  </tr>
  
  <% @cfs.each do |cf| %>
    <tr>
        <td> <%= I18n.localize cf.date, format: :custom%> </td>
        <td class="text-success"> <%= number_to_currency cf.revenue_value %></td>
        <td class="text-danger"> - <%= number_to_currency cf.expense_value %> </td>
        <td> <%= cf.revenue_type %> </td>
        <td> <%= cf.expense_type %> </td>
    </tr> 
  <% end%>
</table>
  <hr>
<div class="font-weight-bold">
  <p>Total de ganhos: <%= number_to_currency CashFlow.calculate_revenue_amount(@cfs) %> </p>
  <p>Total de gastos: - <%= number_to_currency CashFlow.calculate_expense_amount(@cfs) %> </p>
  <p>Total do mês: <%= number_to_currency CashFlow.calculate_revenue_amount(@cfs)  - CashFlow.calculate_expense_amount(@cfs) %> </p>
</div>
