<h1><%= I18n.t(:new_family) %></h1>
<%= simple_form_for @family do |f| %>
  <%= f.input :name %>
  <%= f.input :cep %>
  <%= f.input :guest_total %>
  <%= f.input :target %>
  <%= f.input :target_value %>
  <%= f.button :submit, 'Salvar' %>
<% end %>