<h1><%= I18n.t(:new_family) %></h1>
<%= simple_form_for @family do |f| %>
  <%= f.input :name, placeholder:'Digite o seu nome' %>
  <%= f.input :cep, input_html: { size: '10', maxlength:'9', placeholder:'Digite seu CEP' } %>
  <%= f.input :guest_total, placeholder:'Digite a quantidade de pessoas na família' %>
  <%= f.input :target, placeholder:'Digite o objetivo' %>
  <%= f.input :target_value %>
  <%= f.button :submit, 'Salvar' %>
<% end %>
