<div class="row">
<div class="col-6">
  <h2 class="text-center">Gastos segregados por tipo</h2>
  <canvas id="myChart" width="300px" height="300px"></canvas>
</div>

<div class="col-6">
  <h2 class="text-center ">Ganhos segregados por tipo</h2>
  <canvas id="myChart2" width="300" height="300"></canvas>
</div>
</div>
<script>
  var ctx = $("#myChart");
  data = {
    datasets: [{
        data: <%= @chart_data.values %>,

  backgroundColor: generateColors(<%= @chart_data.keys.count %>)
        }],
    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: <%= raw @chart_data.keys %>

  };

 function generateColors(total) {  
    var cor_array = [];
    for(i = 0; i < total; i++) {
      cor_array.push(getRandomColor());
    }
    return cor_array;
  }

var myPieChart = new Chart(ctx,{
    type: 'doughnut',
    data: data
});
  
  function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }
</script>


<script>
  var ctx = $("#myChart2");
  data = {
    datasets: [{
        data: <%= @chart_data2.values %>,

  backgroundColor: generateColors(<%= @chart_data2.keys.count %>)
        }],
    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: <%= raw @chart_data2.keys %>

  };

 function generateColors(total) {  
    var cor_array = [];
    for(i = 0; i < total; i++) {
      cor_array.push(getRandomColor());
    }
    return cor_array;
  }

var myPieChart = new Chart(ctx,{
    type: 'doughnut',
    data: data
});
  
  function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }
</script>
