<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <%= link_to root_path, class: 'navbar-brand' do %>
    Finanças em Família
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if user_signed_in? && current_user.family%>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Minhas Configurações', profile_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_revenue_path %>">Inserir Ganhos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_expense_path %>">Inserir Gastos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fluxo Mensal</a>
        </li>
      </ul>
      <form class="nav-item my-2 my-lg-0">
        <%= current_user.email%>
      </form>
      <form class="nav-item my-2 my-lg-0">
      <%= link_to I18n.t(:logout), destroy_user_session_path, method: :delete , class: 'nav-link'  %>
    </form>

    </div>
  <% elsif !user_signed_in? %>
    <li><%= link_to I18n.t(:sign_in), new_user_registration_path %></li>
    <li><%= link_to I18n.t(:login), new_user_session_path %></li>

  <% elsif user_signed_in?%>
    <form class="nav-item my-2 my-lg-0">
        <%= current_user.email%>
    </form>
    <form class="nav-item my-2 my-lg-0">
      <%= link_to I18n.t(:logout), destroy_user_session_path, method: :delete , class: 'nav-link'  %>
    </form>
  <% end %>
</nav>
